[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gTransMemory
Comment=Learn memory for translators
Comment[en]=Learn memory for translators
Comment[it]=Memoria di apprendimento per traduttori
Terminal=false
Categories=Network;GTK;
Icon=gtransmemory
TryExec=gtransmemory
Exec=gtransmemory
